:root {
    --background-color: #1E213A;
    --bg2-color: #E7E7EB;
    --font-color-secondary: #A09FB1;
    --highlight-color: #3C47E9;
    --font-color: #100E1D;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html {
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
    color: var(--bg2-color);
    overflow-x: hidden
}

#containerTop {
    background-color: var(--highlight-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#containerBottom {
    background-color: var(--font-color-secondary);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    min-height: 43px;
}

#headerTop {
    height: 15vh;
    width: 100%;
    max-width: 1200px;
    padding: 24px;
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    
}
#headerTop > div {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-self: end;
    align-self: center;
    cursor: pointer;
}

#headerTop > div > a{
    margin-bottom: 4px;
    text-decoration: none;
    color: var(--bg2-color);
    font-weight: bold;
}

header .material-icons {
    justify-self: center;
    align-self: end;
    cursor: pointer;
}
#headerTop .material-icons {
    grid-column: -2 / -1;
    font-size: 32px;
}

#headerTop > a {
    color: var(--bg2-color);
    text-decoration: none;
    grid-column: 2 / 3;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#headerTop h1 {
    font-weight: 100;
}

#headerBottom {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: end;
}

#atualStyle {
    font-size: 20px;
    font-weight: bold;
    transform: translateX(-10px);
}

/* MAIN */

main {
    width: 100%;
    max-width: 1200px;
    padding: 24px;
    margin: 0px auto;
}

section {
    background-color: #ffffff21;
    padding: 24px;
    border-radius: 24px;
    margin-bottom: 24px;
}

#sectionSearch {
    display: none;
    position: relative;
}

#sectionSearch span.material-icons {
    position: absolute;
    font-size: 24px;
    margin-left: 7px;
    margin-top: 13px;
    color: var(--highlight-color);
    
}

#iCidadeInput {
    width: calc(100% - 49px);
    padding: 12px 16px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: none;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid var(--highlight-color);
    border-right: none;
    outline: none;
    color: var(--bg2-color);
    font-weight: bold;
    padding-left: 32px;
}

#sectionSearch input.material-icons {
    width: 49px;
    cursor: pointer;
    height: 49px;
    border: 2px solid var(--highlight-color);
    border-left: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    position: absolute;
    font-size: 32px;
    background-color: rgba(0, 0, 0, 0);
    color: var(--highlight-color);
}

#sectionSearch input.material-icons:hover {
    background-color: var(--highlight-color);
    color: var(--bg2-color);
    transition: 0.3s;
}



/* Time */

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#sectionTime {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;

}

#sectionTime > img {
    align-self: center;
    width: 64px;
    animation: loading 4s linear infinite;
}

#sectionTime h2 {
    text-align: center;
    margin-bottom: 24px;
}

.tempDiv {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--highlight-color);
    padding: 24px;
    border-radius: 24px;
    margin-bottom: 24px;
    justify-content: center;
    justify-self: center;
    container-type: inline-size;
}

.tempImg {
    grid-row: 1 / 3;
    justify-self: end;
    margin: 24px;
}

.tempDiv p {
    grid-column: 2 / 3;
}

.tempResult {
    white-space: nowrap;
    align-self: flex-end;
    font-size: clamp(2rem, 6cqw, 46px);
    font-weight: bold;
}

.tempDesc {
    font-weight: bold;
}

/* Details Section */

.detailsTime {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.detailsTime div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 12px;
    background-color: rgba(255, 255, 255, 0.185);
    border-radius: 24px;
    padding: 16px;
    color: var(--bg2-color);
}

.detailsTime > div p {
    margin-top: 4px;
    font-style: italic;
}

/* Form Section */

#loginForm {
    background-color: var(--bg2-color);
    padding: 24px;
    margin-top: 24px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;

}

.formInput {
    position: relative;
}

#loginForm .formInput {
    width: 100%;
}

#loginForm .inputText {
    width: 100%;
}


.inputLabel {
    font-size: 20px;
    color: var(--highlight-color);
    background-color: var(--bg2-color);
    padding: 0px 6px;
    position: absolute;
    top: 5px;
    left: 16px;
    transition: position 0.5s ease;
    animation: focusOut 0.5s ease forwards;
}

.inputText {
    padding: 3px 16px;
    background-color: var(--bg2-color);
    outline: none;
    border: 1px solid var(--highlight-color);
    border-radius: 4px;
    padding: 16px;
    font-size: 16px;
    margin-bottom: 24px;
    
}

.btnNormal {
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 8px;
    font-size: 20px;
    font-weight: bold;
    color: var(--bg2-color);
    background-color: var(--highlight-color);
    border-radius: 32px;
    transition: transform 0.2s linear, background-color 0.2s linear;
}

.btnNormal:hover {
    transform: translateY(-4px);
}

.btnNormal:active {
    transform: translateY(-4px);
    background-color: #313abe;
}

@keyframes focusInput {
    from {
        top: 13px;
        left: 16px;
    }
    to {
        top: -11px;
        left: 16px;
        font-size: 13px;
    }
    
}

@keyframes focusOut {
    from {
        top: -11px;
        left: 16px;
        font-size: 13px;
    }
    to {
        top: 13px;
        left: 16px;
    }
}

form:has(.inputText:focus) .inputLabel, form:has(.inputText:not(:placeholder-shown)) .inputLabel {
    animation: focusInput 0.2s linear forwards;
}


/* sectionHis */

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

#sectionHis {
    display: none;
}

#sectionHis > h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 8px;
    font-size: 28px;
}

#sectionHis  h4 {
    text-align: center;
    width: 100%;
    margin-bottom: 8px;
}
.content > div {
    flex: 1 1 272px;
}

.content > div:first-child { /* if itemHistoric > 3 */
    flex: 1 1 100%; 
}
.content > div > h3{
    font-size: 22px;
    justify-self: center;
    margin: 12px;
}

.content > div > div > .tempResult{
    font-size: 24px;
}

.content > div > div > .tempDesc{
    font-size: 16px;
}